<% include ../partials/header %>
<div class="container">
    <h1>classroom for this semerter</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>generation</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(p){ %>
            <tr>
                <td><%=p.ID%></td>
                <td><%=p.brand%></td>
                <td><%=p.generation%></td>
                <td><%=p.price%></td>
                <td scope="row">
                    <a name="" id="" class="btn btn-primary"  href="/productdetail/<%= p.ID%>" role="button">View Detail</a>
                </td>     
            </tr>
            <%}); %>
        </tbody>
    </table>
</div>
<% include ../partials/footer %>